{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    {% block title %}<h2 class="card-title text-primary summary-title" style="font-weight: bold;">{{ developer.developer_name }}</h2>{% endblock %}
    <br>
    {% if developer.developer_image %}
      <img class="card-img-top mb-3" src="{{ developer.developer_image }}" alt="Image of {{ developer.developer_name }}">
    {% else %}
      <p class="card-text" style="color: white; font-size: larger;">No image available</p>
    {% endif %}
    <p class="card-text" style="font-size: larger;"><strong>Country:</strong> {{ developer.developer_country }}</p>
    <p class="card-text" style="font-size: larger;"><strong>Description:</strong> {{ developer.developer_description }}</p>
    <br>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block content %}
{% block title %}<h1>{{ developer.developer_name }}</h1>{% endblock %}
<p>Country: {{ developer.developer_country }}</p>
<p>Description: {{ developer.developer_description }}</p>
<p>Image: {{ developer.developer_image }}</p>
{% endblock %} {% endcomment %}

