{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    {% block title %}<h2 class="card-title text-primary summary-title" style="font-weight: bold;">Edit Developer</h2>{% endblock %}
  </div>
  <div class="card-body">
    <form enctype="multipart/form-data" method="post" class="mt-4">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-text" style="color: black; font-weight: bold; font-size: larger;">
        <br>
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.help_text %}
            <small id="{{ field.id_for_label }}Help" class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {% endfor %}
        </div>
      {% endfor %}
      <br>
      <button type="submit" class="btn mb-3 panel-btn">Update</button>
    </form>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{%  block content %}
{% block title %}{{ developer.developer_name }}{% endblock %}
    <h1>{{ developer.developer_name }}</h1>
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
        <table>{{form.as_table}}</table>
        <button type="submit">Update</button>
    </form>
{% endblock %} {% endcomment %}