{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    <h2 class="card-title text-primary summary-title" style="font-weight: bold;">Change password</h2>
    <form method="post">
      <br>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Change password</button>
    </form>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}

{% block content %}
  <h2>Change password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change password</button>
  </form>
{% endblock %} {% endcomment %}