{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    <h2 class="card-title text-primary summary-title">Edit profile</h2>
    <br>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Save changes</button>
    </form>

    {% if user.user_image %}
        <div class="gor-card-img">
            <h3 class="card-title text-primary summary-title" style="font-weight: bold;">Current Image</h3>
            <img src="{{ user.user_image.url }}" alt="User Image" class="img-thumbnail">
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}

{% block content %}
  <h2>Edit profile</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>

  {% if user.user_image %}
        <h3>Current Image</h3>
        <img src="{{ user.user_image.url }}" alt="User Image" width="200">
    {% endif %}
{% endblock %} {% endcomment %}
