{% extends 'base.html' %}
{% block title %}{{ request.user.username }}{% endblock %}
{% block content %}
    <div class="container search-container">
        <div class="row justify-content-center">
            <div class="col card mb-3 shadow left-row gor-card" style="padding:0 0 0 0">
                <h2 class="card-title text-primary summary-title" >User Profile</h2>
                <div class="card-body">
                    <form>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <a href="{% url 'profile_update' %}" class="btn panel-btn" style="color: white;">Edit Profile</a>
                    </form>
                </div>
            </div>
            <div class="col card mb-3 shadow right-row summary-card gor-card" style="padding: 0 0 0 0">
                <h2 class="card-title text-primary summary-title">My Reviews</h2>
                <div class="card-body">
                    {% if reviews %}
                        <ul>
                        {% for r in reviews %}
                            {% if r.is_flagged %}
                                <li class="summary-inner-text">{{ r.game.title }} (REVIEW IS FLAGGED)</li>
                            {% else %}
                                <li class="summary-inner-text"><a href={% url 'update_review' review_id=r.id %}>{{ r.game.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block title %}{{ request.user.username }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm border">
                <h3>User Profile</h3>
                <form>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{% url 'profile_update' %}" class="btn btn-primary">Edit Profile</a>
                </form>
            </div>
            <div class="col-sm  border">
                <h3>My Reviews</h3>
            {% if reviews %}
                <ul>
                {% for r in reviews %}
                    {% if r.is_flagged %}
                        <li>{{ r.game.title }} (REVIEW IS FLAGGED)</li>
                    {% else %}
                        <li><a href={% url 'update_review' review_id=r.id %}>{{ r.game.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %} {% endcomment %}
