{% extends 'base.html' %}
{% block title %}View All Games{% endblock %}
{% block content %}
<a href='{% url 'add_game' %}' class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Add Game</a>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Title</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Update</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td><a href="{{ game.get_absolute_url }}" class="text-primary" style="font-size: larger; font-weight: bold;">{{ game.title }}</a></td>
            <td><a href="{% url 'update_game' pk=game.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Update</a></td>
            <td><a href="{% url 'delete_game' pk=game.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{%  block content %}
{% block title %}View All Games{% endblock %}
<a href='{% url 'add_game' %}'>Add a game</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td><a href="{{ game.get_absolute_url }}">{{ game.title }}</a></td>
            <td><a href={% url 'update_game' pk=game.pk %}>Update</a></td>
            <td><a href={% url 'delete_game' pk=game.pk %}>Delete</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{%  endblock %} {% endcomment %}