{% extends 'base.html' %}
{% block title %}View All Genres{% endblock %}
{% block content %}
<a href="{% url 'add_genre' %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Add Genre</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Title</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Update</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
        <tr>
            <td><a href="{{ genre.get_absolute_url }}" class="text-primary" style="font-size: larger; font-weight: bold;">{{ genre.name }}</a></td>
            <td><a href="{% url 'update_genre' pk=genre.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Update</a></td>
            <td><a href="{% url 'delete_genre' pk=genre.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{%  block content %}
{% block title %}View All Genres{% endblock %}
<a href='{% url 'add_genre' %}'>Add a genre</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
        <tr>
            <td><a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a></td>
            <td>{{ genre.description }}</td>
            <td><a href={% url 'update_genre' pk=genre.pk %}>Update</a></td>
            <td><a href={% url 'delete_genre' pk=genre.pk %}>Delete</a></td>

        </tr>

        {% endfor %}
    </tbody>
</table>
{%  endblock %} {% endcomment %}