{% extends 'base.html' %}
{% block title %}View All Languages{% endblock %}
{% block content %}
<a href="{% url 'add_language' %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Add Language</a>

<div class="container">
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Title</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Update</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for language in languages %}
        <tr>
            <td><a href="{% url 'language_view' pk=language.pk %}" class="text-primary" style="font-size: larger; font-weight: bold;">{{ language.name }}</a></td>
            <td><a href="{% url 'update_language' pk=language.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Update</a></td>
            <td><a href="{% url 'delete_language' pk=language.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{%  block content %}
{% block title %}View All Languages{% endblock %}
<a href='{% url 'add_language' %}'>Add a language</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for language in languages %}
        <tr>
            <td><a href="{{ language.get_absolute_url }}">{{ language.name }}</a></td>
            <td><a href={% url 'update_language' pk=language.pk %}>Update</a></td>
            <td><a href={% url 'delete_language' pk=language.pk %}>Delete</a></td>

        </tr>

        {% endfor %}
    </tbody>
</table>
{%  endblock %} {% endcomment %}