{% extends "base.html" %}
{% block content %}
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <h2 scope="col" style="color: white; font-weight: bold;">Site</h2>
        </tr>
    </thead>
    <tbody>
        {% for site in site_names %}
            <tr>
                <td><a href="{{ site.0 }}" class="text-primary" style="font-size: larger; font-weight: bold;">{{ site.1 }}</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td><a href="{% url 'process_tickets' %}" class="text-primary" style="font-size: larger; font-weight: bold;">Process Open Tickets</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'home' %}" class="text-primary" style="font-size: larger; font-weight: bold;">Home</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% comment %} {% extends "base.html" %}
{%  block content %}
    <ul>
        {% for site in site_names %}
            <li>
                <a href="{{ site.0 }}">{{ site.1 }}</a>
            </li>
        {% endfor %}
        <li><a href="{% url 'process_tickets' %}">Process Open Tickets</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
    </ul>
{% endblock %} {% endcomment %}