{% extends 'base.html' %}
{% block title %}Platforms{% endblock %}
{% block content %}

<a href="{% url 'add_platform' %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Add Platform</a>

<div class="container">
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Platform Name</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Update</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for platform in objects_list %}
        <tr>
            <td><a href="{{ platform.get_absolute_url }}" class="text-primary" style="font-size: larger; font-weight: bold;">{{ platform.platform_name }}</a></td>
            <td><a href="{% url 'update_platform' pk=platform.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Update</a></td>
            <td><a href="{% url 'delete_platform' pk=platform.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block title %}Platforms{% endblock %}
{%  block content %}

<h1 class="page_head">All Platforms</h1><a href='{% url 'add_platform' %}'>Add a platform</a>
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Platform Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for platform in objects_list %}
        <tr>
            <td><a href="{{ platform.get_absolute_url }}">{{ platform.platform_name }}</a></td>
            <td><a href={% url 'update_platform' pk=platform.pk %}>Update</a></td>
            <td><a href={% url 'delete_platform' pk=platform.pk %}>Delete</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table></div>
{%  endblock %} {% endcomment %}