{% extends 'base.html' %}
{% block title %}View All Publishers{% endblock %}
{% block content %}

<a href="{% url 'add_publisher' %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Add Publisher</a>

<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Publisher Name</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Update</th>
            <th scope="col" style="color: white; font-size: larger; font-weight: bold;">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for publisher in objects_list %}
        <tr>
            <td><a href="{{ publisher.get_absolute_url }}" class="text-primary" style="font-size: larger; font-weight: bold;">{{ publisher.publisher_name }}</a></td>
            <td><a href="{% url 'update_publisher' pk=publisher.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Update</a></td>
            <td><a href="{% url 'delete_publisher' pk=publisher.pk %}" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table></div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{%  block content %}
{% block title %}View All Publishers{% endblock %}
<a href='{% url 'add_publisher' %}'>Add a publisher</a>
<table class="table">
    <thead>
        <tr>
            <th>Publisher Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for publisher in objects_list %}
        <tr>
            <td><a href="{{ publisher.get_absolute_url }}">{{ publisher.publisher_name }}</a></td>
            <td><a href={% url 'update_publisher' pk=publisher.pk %}>Update</a></td>
            <td><a href={% url 'delete_publisher' pk=publisher.pk %}>Delete</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{%  endblock %} {% endcomment %}