{% extends 'base.html' %}
{% block title %}View All Publishers{% endblock %}
{% block content %}
<a href="{% url 'add_publisher' %}" class="btn mb-3 panel-btn">Add a publisher</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Publisher Name</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for publisher in objects_list %}
        <tr>
            <td><a href="{{ publisher.get_absolute_url }}" class="text-primary">{{ publisher.publisher_name }}</a></td>
            <td><a href="{% url 'update_publisher' pk=publisher.pk %}" class="btn btn-primary">Update</a></td>
            <td><a href="{% url 'delete_publisher' pk=publisher.pk %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{%  block content %}
{% block title %}View All Publishers{% endblock %}
<a href='{% url 'add_publisher' %}'>Add a publisher</a>
<table class="table">
    <thead>
        <tr>
            <th>Publisher Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for publisher in objects_list %}
        <tr>
            <td><a href="{{ publisher.get_absolute_url }}">{{ publisher.publisher_name }}</a></td>
            <td><a href={% url 'update_publisher' pk=publisher.pk %}>Update</a></td>
            <td><a href={% url 'delete_publisher' pk=publisher.pk %}>Delete</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{%  endblock %} {% endcomment %}