{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    {% block title %}<h2 class="card-title text-primary summary-title" style="font-weight: bold;">{{ platform.platform_name }}</h2>{% endblock %}
    <br>
    {% if platform.platform_image %}
      <img class="card-img-top mb-3" src="{{ platform.platform_image }}" alt="Image of {{ platform.platform_image }}">
    {% else %}
      <p class="card-text" style="color: white; font-size: larger;">No image available</p>
    {% endif %}
    <p class="card-text" style="font-size: larger;"><strong>Description:</strong> {{ platform.platform_description }}</p>
    <br>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block content %}
{% block title %}<h1>{{ platform.platform_name }}</h1>{% endblock %}
    <p>Description: {{ platform.platform_description }}</p>
    <p>Image: {{ platform.platform_image }}</p>
{% endblock %} {% endcomment %}