{% extends 'base.html' %}
{% block content %}
{% block title %}{{ game.title }}{% endblock %}
<p>Publisher: {{ game.publisher }}</p>
<p>Developer: {{ game.developer }}</p>
<p>Release Date: {{ game.release_date }}</p>
<p>Platform: {{ game.platform.platform_name }}</p>
<p>Description: {{ game.description }}</p>
<p>Rating: {{ game.rating }}</p>
{#<p>Genre: {{ game.genre.name }}</p>#}
    <p>Genres:
    {% for g in game.genre.all %}
        {{ g }}
    {% endfor %}
    </p>
<p>Langauge:
    {%  for lang in game.language.all %}
        {{ lang }}
    {% endfor %}
</p>
{% if game.image %}
    <p>Image: <img src="{{ game.image.url }}" alt="Image" /></p>
{% else %}
    <p>No image available</p>
{% endif %}
    {% if reviews %}
        <a href={% url 'write_review' game_id=game.pk %}>Write a Review</a>
        {% for r in reviews %}
            <hr>
            <div class="jumbotron">
            {% if r.is_flagged %}
                <p class="lead">THIS REVIEW IS FLAGGED PENDING REVIEW</p>
            {% endif %}
                <p class="lead"><em>{{ r.user.username }} writes...</em></p>
                <h3 class="display-4">{{ r.description }}</h3>
                <p>{{ r.comment }}</p>
                {% if request.user.username == r.user.username %}
                    <a href="{%  url 'update_review' review_id=r.pk %}">Edit</a>
                {% else %}
                    <a href="{%  url 'report_review' review_id=r.pk %}">Report</a>
                {% endif %}
            </div>

        {% endfor %}
    {%  else %}
        NO REVIEWS YET. <a href="{%  url 'write_review' game_id=game.pk %}">Why not be the first?</a>
    {% endif %}

{% endblock %}
