{%  extends 'base.html' %}
{% block content %}

        <table class="table table-striped">
        <thead>
            <tr>
                <h2 scope="col" style="color: white; font-weight: bold;">Tickets</h2>
            </tr>
        </thead>
            <tbody>
                {% for r in flagged_reviews %}
                    <tr>
                        <td style="font-size: larger; font-weight: bold;">[{{ r.reason }}]</td>
                        <td style="font-size: larger; font-weight: bold;">{{ r.moderation_user.username }}</td>
                        <td><a href="{% url 'resolve_ticket' ticket_id=r.pk %}" class="text-primary" style="font-size: larger; font-weight: bold;">Resolve Ticket</a></td>
                        <td style="font-size: larger; font-weight: bold;">{{ r.id }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><a href="{% url 'home' %}" class="text-primary" style="font-size: larger; font-weight: bold;">Home</a></td>
                </tr>
            </tbody>
        </table>

{% endblock %}

{% comment %} {%  extends 'base.html' %}
{% block content %}

        <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Username</th>
                <th>View</th>
                <th>Quick Resolve</th>
            </tr>
        </thead>
            {% for r in flagged_reviews %}
                <tr>
                    <td>[{{ r.reason }}]</td>
                    <td>{{ r.moderation_user.username }}</td>
                    <td><a href="{% url 'resolve_ticket' ticket_id=r.pk %}">Resolve Ticket</a></td>
                    <td>{{ r.id }}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %} {% endcomment %}