{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    <h2 class="card-title text-primary summary-title" style="font-weight: bold;">{{ game.title }}</h2>
    <form enctype="multipart/form-data" method="post">
      <br>
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit" class="btn mb-3 panel-btn" style="color: white; font-weight: bold;">Post Review</button>
    </form>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block content %}
{{ game.title }}
{%  csrf_token %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
    <table>{{form.as_table}}</table>
  <button type="submit">Post Review</button>
</form>
{% endblock %} {% endcomment %}