<!-- templates/search.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="form-outline mx-5 d-flex align-items-center">
        <a href="{% url 'home' %}" class="btn btn-light mr-2">&#x2190; Home</a>
        <form id="search-form" method="get" class="flex-grow-1 d-flex">
            {% if query %}
                <input type="search" id="searchbox" class="form-control flex-grow-1" placeholder="{{ query }}" aria-label="Search" />
            {% else %}
                <input type="search" id="searchbox" class="form-control flex-grow-1" placeholder="Search for game by title" aria-label="Search" />
            {% endif %}
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </form>
    </div>
    {% if games %}
        {% for game in games %}
            <h1><{{ game.title }}</h1>
            <p> Released on {{ game.release_date|date:"F d, Y" }}.</p>
        {% endfor %}
    {% else %}
        <h1>No games found.</h1>
    {% endif %}
{% endblock content %}
