:root {
  --main-bg-color: #171920;
  --main-header-color: #424B54;
  --accent-1: #FF3374;
  --accent-2: #a9b4c2;
  --accent-3: #fdfffc;
  --t-accent-2: rgba(169, 180, 194, 0.6);
}

body {
  background-color: var(--main-header-color);
  background: url('../static/site-images/bg.jpg');
  background-attachment: scroll;
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-header-color);
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: var(--accent-3);
  line-height: 14pt;

}

div.form-group label {
  color: var(--main-header-color);
}

header.gor-header {
  z-index: 9999 !important;
  color: var(--accent-2);
  background-color: var(--main-bg-color);
  opacity: 0.9;
}

h1 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

span.icon-accent {
  color: var(--accent-1);
}


/*p.subheader {*/
/*  font-weight: bold;*/
/*  color: #593d87;*/
/*}*/


img {
  padding: 3pt;
  float: right;
}


a {
  text-decoration: none;
}


a:link, a:visited {
  color: var(--accent-2);
}


a:hover, a:active {
  color: var(--accent-3);

}


footer.footer {
  background-color: var(--main-bg-color);
  font-size: 9pt;
  font-style: italic;
  line-height: 12pt;
  text-align: center;
  padding-top: 30pt;

}

footer.footer p {

  color: var(--accent-1);
}

h1.list_head {



}

div.search-container {
  /*border: 1px solid black;*/
  min-width: 800px;
}
div.search-container:active {
  /*border: 1px solid black;*/
  min-width: 800px;
}

input.search-input {
  width: 100%;
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--accent-1);
}

input.search-input:focus {
  color: var(--accent-1);
  background-color: var(--main-bg-color);
  shadow-color: var(--accent-1) !important;
}

.result-container {
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
  max-height: 400px;
  /*border: 1px solid black;*/
}

.left-row {
  padding-top: 30px;
  margin-right: 10px;
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
  /*min-width: 350px;*/
}

.right-row {
  margin-left: 10px;
  min-height: 400px;
  /*min-width: 350px;*/
}

.summary-card {
  margin: 0; /* remove margin */
  padding: 0; /* remove padding */
}

.summary-title {
  background-color: var(--main-bg-color);
  color: var(--accent-1) !important;
  padding: .8rem 1rem;
  margin: auto 0;
  border-radius: 2px;
  display: block;
  width: 100%;
  min-height: 65px;
}

.remove-margin {
  margin: 0 0 0 0 !important
}

div.gor-dropdown {
  margin-top: 10px;
  border: 2px var(--accent-2) solid;
  background-color: var(--main-bg-color);
}

a.gor-link {

  font-size: smaller;
  color: var(--accent-1);
}

a.gor-link:hover {
  color: var(--accent-3);
  background-color: var(--main-bg-color);
}

div.content-wrap {
  padding-top: 40px;
}

div.gor-card {
  border: solid 2px var(--main-bg-color);
  background-color: var(--t-accent-2);
  overflow: auto;

}

div.gor-card a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--main-bg-color);
  font-weight: bolder;
}

div.gor-card a:hover {
  font-weight: lighter !important;
  background-color: var(--main-header-color);
  color: var(--accent-1);
  padding: 4px 40px 4px 4px;
  border: 1.5px var(--main-bg-color) solid;
  border-radius: 4px;
}

span.title-card-rating {
  padding-top: 12px;
  font-size: 16px;
  color: var(--accent-2);
  display: flex;
  float: right;
}

div.gor-game-details {
  display: none;
  color: var(--main-bg-color);
  font-weight: bold;
}

.gor-panel-buttons{
  padding-top: 50px;
  /*position: relative;*/
  /*text-align: center;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel-btn {
  display: flex;
  background: var(--main-bg-color);
  color: var(--accent-1);
  border-color: var(--accent-1);
  display: inline-block;
  margin: 0 5px;
}

.panel-btn:focus, .panel-button:active:focus {
  background: var(--main-header-color) !important;
  outline: thin solid;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.panel-btn:hover, .panel-btn:focus  {
  /*background: var(--main-bg-color);*/
  border-color: var(--accent-1);
  color: var(--accent-3);
}

li.login-links {
  padding-top: 5px;
  list-style-type: none;
  padding-right: 10px;
}

a.login-links {
  font-size: 1em;
  text-decoration: none;
  padding-right: 5px;
}


