{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
    {% if user.is_staff %}
        <br><a href='{% url 'database_links' %}'>Database Tools</a>
    {% endif %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

{#<form id="search-form" action="{% url 'fp_search' %}" method="get">#}
{#    <input id="search-input" type="text" name="query">#}
{#    <label><input type="radio" name="field" value="name" checked> Name</label>#}
{#    <label><input type="radio" name="field" value="description"> Description</label>#}
{#</form>#}

{% endblock %}