{% extends 'base.html' %}
{% block content %}
<div class="card mb-3 shadow gor-card">
  <div class="card-body gor-card-body" style="padding: 0 0 0 0">
    <h2 class="card-title text-primary summary-title" style="font-weight: bold;">{{ publisher.publisher_name }}</h2>
    <br>
    {% if publisher.publisher_image %}
      <img class="card-img-top mb-3" src="{{ publisher.publisher_image }}" alt="Image of {{ publisher.publisher_name }}">
    {% else %}
      <p class="card-text" style="color: white; font-size: larger;">No image available</p>
    {% endif %}
    <p class="card-text" style="font-size: larger;"><strong>Description: </strong>{{ publisher.publisher_country }}</p>
    <p class="card-text" style="font-size: larger;"><strong>Description: </strong>{{ publisher.publisher_description }}</p>
    <br>
  </div>
</div>
{% endblock %}

{% comment %} {% extends 'base.html' %}
{% block content %}
{% block title %}<h1>{{ publisher.publisher_name }}</h1>{% endblock %}
    <p>Country: {{ publisher.publisher_country }}</p>
    <p>Description: {{ publisher.publisher_description }}</p>
    <p>Image: {{ publisher.publisher_image }}</p>
{% endblock %} {% endcomment %}